.container {
  max-width: 768px;
  padding-right: 1rem;
  padding-left: 1rem;

  margin-right: auto;
  margin-left: auto;

  // half of the negative sum of the NewTask's input Y axis padding and the respective line height
  // considering 1rem = 16px, it is ~27px;
  margin-top: calc(-1 * (2rem + 1rem * 1.4) / 2); 
  margin-bottom: 3rem;

}

.info {
  margin-top: 4rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.created {
  color: var(--blue);

  font-weight: 700;
  font-size: 0.875rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.done {
  color: var(--purple);
  
  font-weight: 700;
  font-size: 0.875rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
